/*
Theme Name: Aperitif Child
Theme URI: http://aperitif.elated-themes.com
Description: A child theme of Aperitif
Author: Elated Themes
Author URI: http://themeforest.net/user/elated-themes
Version: 1.0.0
Text Domain: aperitif
Template: aperitif
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.home h1,.home h2,.home h3,.home h4,.home h5,.home h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
body.home,
.home p,
.qodef-fullscreen-menu-holder nav.qodef-fullscreen-menu ul li a,
.qodef-section-title .qodef-m-subtitle
{
	font-family: 'Montserrat', sans-serif;
	    font-weight: 400;
}
#qodef-page-header,.qodef-header-sticky{background-color: #000;}
/*#qodef-page-header a.qodef-fullscreen-menu-opener:hover .qodef-line{
	color:#000;
}*/
.qodef-fullscreen-menu-opener.qodef-fullscreen-menu-opener--predefined:hover .qodef-open-icon .qodef-line{
	color:#000 !important;
}
.qodef-header--dark #qodef-page-header-inner .qodef-header-logo-link .qodef--light, .qodef-header--dark #qodef-page-header-inner .qodef-header-logo-link .qodef--main{
	opacity: 0 !important;
	display: none !important;
}
.qodef-header--dark #qodef-page-header-inner .qodef-header-navigation ul>li>a,
.qodef-header-navigation>ul>li>a
{color:#fff;}
.qodef--passepartout .qodef-header-sticky{width:100% !important;margin:0px;}
.qodef-header-navigation ul li a .qodef-menu-item-inner{font-size: 18px;}
.home .qodef--passepartout #qodef-page-wrapper{padding:0px;border:none;}
.qodef--passepartout #qodef-page-wrapper{padding:0px !important;}
.qodef--passepartout #qodef-page-wrapper-inner{border: none !important;}
.home.qodef--passepartout{
	background-image: none;
	padding:0px;
}
.home p,.home h1,.home h2,.home h3,.home h4,.home h5,.home h6{color:#000;}
.home button[type=submit]:hover, .home input[type=submit]:hover{
  color:#000;
      border: 1px solid #000;
}
.home #qodef-page-inner{padding:0px;}
.vineyard-home{  padding: 50px 0px 0px 0px;}
.vineyard-home .vc_single_image-wrapper img{
	border-radius: 50%;
    height: 520px;
    width: auto;
   
}

.vineyard-home .pro-intro .intro-right{
padding:0px 0px 0px 50px;
}
.vineyard-home .pro-intro p.qodef-m-subtitle{color:#c8693a !important;margin:0px;}

.vineyard-home .pro-intro .intro-right .list-wrap
{
	    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0px;
}
.vineyard-home .pro-intro .intro-right .list-wrap .single-list{
	text-align: left;
	width: 50%;
    /*padding: 0px 40px 0px 0px;*/
    margin-bottom: 30px;
}
.team-view{
	align-items: center;
	justify-content: center;
}
.team-title .vc_column-inner{padding-top: 0px !important;}
.vineyard-home .pro-intro .intro-right .list-wrap .single-list h4{
	    color: #c8693a;
    margin: 10px 0px 0px 0px;
    letter-spacing: 1px;
    font-size: 22px;

}
.vineyard-home .pro-intro .intro-right .list-wrap .single-list p{
	margin:10px 0px;
	
}

.story-wrapper p.qodef-m-subtitle{
	    max-width: 700px;
    margin: 0px auto;
    line-height: 30px;
    padding: 20px 0px;
}
.our-story .vc_column-inner{padding-top: 0px !important;}
.our-story .qodef-m-title{margin-bottom: 30px !important;}
.our-story p.qodef-m-subtitle{
      max-width: 800px;
    margin: 0px auto;
    line-height: 27px;
}
.our-story div.rn-pbwp-div{
  max-height: 500px;
}
.form-wrapper{padding: 50px 0px;}
.form-wrapper button[type=submit]{background-color: #000;color:#fff;}
.form-wrapper .form-column{padding:0px 60px 0px 0px;}
.form-wrapper .form-img img{min-width: 340px;}
.form-wrapper h3.qodef-m-title,.form-wrapper a{color:#000;}
.form-wrapper a:hover{color:#fff;}
.form-wrapper  .qodef-section-title .qodef-m-subtitle{color:#000 !important;}
.vc_custom_1573126296545{padding-top: 65px !important;}
#qodef-page-header .qodef-header-logo-link{
	padding: 10px 0px;
    height: 78px;
}
#qodef-back-to-top:hover .qodef-back-to-top-icon{
	    background-color: #fff !important;
    color: #000 !important;
}
.home #qodef-page-header{height: auto;background-color: transparent;}
.vineyard-home p {
color: #fff;
font-size: 18px;
}
.vineyard-home h3.qodef-m-title{
	color:#fff;
	    margin-bottom: 30px;
}
@media only screen and (max-width: 1151px){

.home .vc_custom_1573572978478,.home .vc_custom_1573572984055 {
     
    padding: 0 30px 0 30px !important;
}
 .vc_custom_1573126296545{padding-top: 25px !important;}
}
@media(max-width: 1024px){
	#our-wine{height:fit-content; }
	.vineyard-home {
    margin-top: 0px !important;
    padding: 0px !important;
   
    height: 770px;
    background-color: #000 !important;
}
.vineyard-home .pro-intro .intro-right .list-wrap{display:block;}
.vineyard-home .pro-intro .intro-right .list-wrap .single-list{width:100%;padding:0px;margin-bottom: 20px;}
.vineyard-home .pro-intro .intro-right{padding:0px 20px;}
.vineyard-home h3.qodef-m-title{
	font-size: 18px;
	margin-bottom: 30px;
}
}
@media(max-width: 767px){
	#our-wine{height:fit-content; }
	.vineyard-home {
    margin-top: 0px !important;
    padding-top: 0px !important;
   
   /* height: 1000px;*/
    background-color: #000 !important;
}
.vineyard-home .pro-intro .intro-right .list-wrap{display:block;}
.vineyard-home .pro-intro .intro-right .list-wrap .single-list{width:100%;padding:0px;margin-bottom: 20px;}
.vineyard-home .pro-intro .intro-right{padding:0px 20px;}
.vineyard-home h3.qodef-m-title{
	font-size: 18px;
	margin-bottom: 30px;
}
.vineyard-home p{font-size: 14px;}
.vineyard-home .pro-intro .intro-right .list-wrap{padding:10px 0px;}
.vineyard-home .pro-intro .intro-right .list-wrap .single-list h4{font-size: 20px;margin:0px 0px;}
.home h2{font-size: 30px !important;}
#history .qodef-shortcode {font-size: 30px !important;}
#history .vc_column-inner,#about .vc_column-inner,.follow-view .vc_column-inner{padding: 20px 20px !important;}
.contact-form .vc_column-inner{padding: 0px 40px !important;}
.vc_custom_1568213930037{padding-top: 0px !important;}
.form-wrapper{padding:20px 0px;}
.form-wrapper .wpb_single_image img{max-width: 50%;}
.form-wrapper .wpb_single_image.vc_align_left{text-align: center;}

}


 #qodef-page-header-inner .qodef-header-logo-link img.qodef--light{
    opacity: 0 !important;
    visibility: hidden;
}
.qodef-header-sticky-inner a img.qodef-header-logo-image{display: none !important;}

/* video section*/


.video-section .bg-video-wrap {
  position: relative;
  /*overflow: hidden;*/
  width: 100%;
  height: 100vh;
  /*background: url(https://designsupply-web.com/samplecontent/vender/codepen/20181014.png) no-repeat center center/cover;*/
}
.video-section video {
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
}
/*.video-section .overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
  background-size: 3px 3px;
  z-index: 2;
}*/
.video-section .banner-text {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  max-width: 1100px;
      width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.video-section .banner-text .txt1
{
	padding: 20px 0px;
    line-height: 36px;
    margin:60px 0px;
}
.video-section .banner-text .txt1 h3,
.video-section .banner-text .txt1 p
{color:#fff;}
.video-section .banner-text .txt1 h3{
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 36px;
    margin:0px;
}
.video-section .banner-text .txt1 p
{
font-size: 18px;
    font-weight: 300;
    margin-top: 0px;
    line-height: 24px;
}
.video-section .banner-text .txt2
{
	    display: flex;
    justify-content: space-around;
    padding: 40px 0px;
    line-height: 36px;
}
.video-section .banner-text .txt2 .desc-wrap{
	    max-width: 260px;
	    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.video-section .banner-text .txt2 .desc-value{
	   color: #FFFFFF;
font-size: 24px;
margin-bottom: 0px;
font-weight: 800;
}
.video-section .banner-text .txt2 .desc-txt{
	   font-size: 16px;
font-weight: 400;
line-height: 20px;
}
.home #qodef-page-outer{
	    margin-top: -115px !important;
}
.vc_custom_1614065962908{padding-bottom: 0px !important;}
.wine-makers .left-makers p,.wine-makers .left-makers h4,
.wine-makers .left-makers .wine-wrap .txt-v .value,
.wine-makers .left-makers h6{color:#fff !important;}
.video-section{
  margin-bottom: -5px !important;
}
#our-wine,#about{

  /*margin-bottom: -1px !important;*/
  /*border-bottom:1px solid #eee;*/
}
#our-wine{

  /*margin-bottom: -1px !important;*/
 /* border-bottom:1px solid #eee;*/
}
#allocation,#our-wine{
	    /*box-shadow: -1px 0px 30px #f2f2f2;*/
	    box-shadow: 10px 10px 55px #888;
	    /*box-shadow: 0px 0px 105px -15px #888;*/
	    /*box-shadow: -1px 0px 90px #121121;*/
}
/*.left-makers,.right-makers2{
	border-right:1px solid #eee;
	height:100vh;
}*/
.wine-makers .left-makers h4{color:#fff;font-size: 34px;}
.wine-makers .left-makers{
	    padding: 60px;
}
.wine-makers .right-makers{
	background:#000 !important;
}
/*.wine-makers .right-makers{
  background-image: url("/wp-content/uploads/2021/02/red-wine.jpg");
  background-repeat:no-repeat;
      background-position: right;
    background-size: cover;
}*/
.wine-makers .right-makers2{
  background-image: url("/wp-content/uploads/2021/03/wine-glasses.jpg");
  background-repeat:no-repeat;
      background-position: right;
    background-size: cover;
}
.wine-makers .left-makers .wine-wrap{
	    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.wine-makers .left-makers h3.qodef-m-title{color:#fff;}
.wine-makers .left-makers p.desc{
  padding:0px 0px 30px 0px;
  margin:0;   
   line-height: 30px;
    font-size: 18px;}
.wine-makers .left-makers .wine-wrap .txt-v{width: 50%;padding:0px 0px 30px 0px;}
.wine-makers .left-makers .wine-wrap .txt-v h6{margin:0px;}
.form-contact{display: flex;
    justify-content: space-between;
flex-wrap: wrap;
}
    .form-contact div{
    	width:49%;
    	/*margin:0px 20px 0px 0px;*/
    }
    .form-contact select{
    	height: 58px;
        width: 100%;
    background-color: transparent;
    color: #fff;
    border-radius: 0px;
    padding: 0px 12px;
    border: 1px solid #fff;
    font-size: 16px;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    margin:0px 0px 15px;
    }
    .form-contact div.btn-view{width:100%;}
    .form-contact button[type=submit]{
    	width:100%;
    	height: 58px;
    	background-color: #c7c7c7 !important;}
    .form-contact select option{
    		    background-color: #000;
    }
 input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url], textarea{
  border:1px solid #fff !important;
  color:#fff !important;
  /*width: 95%;*/
 }
 button[type=submit]{
 	    background-color: #fff !important;
    color: #000 !important;
        font-family: 'Montserrat', sans-serif;
        /*width: 46%;*/
 }
 input::placeholder,
textarea::placeholder
 {
    color:#fff !important;
 }
 .our-story p{font-size: 18px !important;}
 a#qodef-back-to-top{display: none;}
 @media(max-width: 1024px){
 	#qodef-page-mobile-header .qodef-mobile-header-logo-link img.qodef--main{
 		opacity: 0;
 	}
 	.our-story.vc_custom_1615186656185{
 		padding:50px 0px !important;
 	}
 	.our-story .poem-right{
 		padding: 0px 0px;
 	}
 	.poem-wrapper .poem-txt{
 		font-size: 16px !important;
 		line-height: 26px;
 	}
 	#qodef-mobile-header-navigation .qodef-m-inner{
 		background-color: #000;
 	}
 	#qodef-mobile-header-navigation .qodef-m-inner{
 		background-image: none !important;
 	}
 	#qodef-mobile-header-navigation .qodef-m-inner>ul>li>a{color:#fff;}
 	#qodef-mobile-header-opener{color:#fff;}
 	h3.qodef-m-title,
h2.qodef-m-title
 	{font-size: 30px;}
 	.wine-makers .left-makers{padding:20px !important;}
 	.our-story p{margin-top: 0px !important;}
 	.wine-makers .right-makers2{
 		height: 100vh;
    background-position: center;
 	}
 	.form-contact{display: block;}
 	.form-contact div{width:100%;}
 	#our-wine{
 		    display: flex;
    flex-direction: column-reverse;
 	}
 	.our-story .vc_row-o-content-middle.vc_row-flex{
 		    display: flex;
    flex-direction: column;
 	}
 	.our-story .vc_row-o-content-middle.vc_row-flex .vc_column_container{
 		width:100%;
 	}
 	/*.our-story .vc_column_container{
 		padding-left: 30px !important;
 		padding-right: 30px !important;
 	}*/
 	#history .vc_column-inner, #about .vc_column-inner, .follow-view .vc_column-inner{
 		padding:0px 10px !important;
 	}
 	.poem-wrapper{justify-content: flex-start !important;}
 	.right-makers,.right-makers2,.left-makers{width: 100% !important;}
 	.wine-makers .left-makers .wine-wrap{display: block;}
 	.wine-makers .left-makers .wine-wrap .txt-v{width:100%;}
 	#qodef-page-mobile-header{height: 50px;background-color: #000;}
 		.video-section .vc_column-inner{padding-top: 0px !important;}
 		.our-story .qodef-m-title{margin-bottom: 30px !important;text-align: left;padding:0px 10px;}
 		.wine-makers .left-makers p.desc,
.wine-makers .left-makers .wine-wrap .txt-v .value
 		{font-size: 16px;}

.video-section .overlay{height: 0px;}
.video-section video{min-height: auto;}
.video-section .bg-video-wrap{background:none;}
.video-section{min-height: fit-content !important;}
.video-section .bg-video-wrap{height: auto !important;}


.qodef-mobile-logo-widget-wrapper{
    width: 100% !important;
    padding: 0px 0px 0px 20px;
   /* margin: 0px;*/
}
#qodef-mobile-header-navigation ul li a:hover{color:#fff !important;}
#qodef-mobile-header-navigation ul li.qodef-active-item a{color:#fff !important;}
 /*	.video-section .bg-video-wrap{height:0px;}
 	.video-section video{min-height:fit-content; }
 	
 	.qodef-grid.qodef-layout--template {display: block;}
 	
 	.video-section{
 		    margin-bottom: -5px !important;
    min-height:-webkit-fill-available !important;
    position: relative !important;
    padding-bottom: 190px !important;
 	}*/
 }